<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>       
		
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link type="text/css" href="stylesheets/jquery.sidr.dark.css" rel="stylesheet">
		<link type="text/css" href="stylesheets/flipclock.css" rel="stylesheet">
		<link type="text/css" href="stylesheets/animate.css" rel="stylesheet">
		<link type="text/css" href="stylesheets/index.css" rel="stylesheet">
		<link type="text/css" href="stylesheets/bootstrap-arrows.css" rel="stylesheet">
		<link type="text/css" href="stylesheets/style.css" rel="stylesheet">
		
		<style type="text/css">

	.node {
    cursor: pointer;
  }
  
  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

</style>
		
		
		
		
		
		<!--<script type="text/javascript" src="http://mbostock.github.io/d3/d3.min.js"></script>-->
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="javascripts/dial.chart.js"></script>
		<script type="text/javascript" src = "javascripts/jquery-2.1.1.min.js"></script>
		<script src="javascripts/jquery.sidr.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
		<script src="javascripts/bootstrap-arrows.min.js"></script>
		<!--<script src="javascripts/flipclock.min.js"></script>-->
		<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<!--<script src="javascripts/dndTree.js"></script>-->
		
		
		<!--
		<script type="text/javascript">
			$( document ).bind( "mobileinit", function() {
				$.mobile.ignoreContentEnabled = true;
				$.mobile.loading().hide();
			});
		</script>
		<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
		-->
	
	</head>
	<body >
	<!--
	<div data-role="content">
	<div data-enhance="false"> -->
		<div class="row " id="FrontPage">
			<div class="whiteBG col-sm-12 col-md-12">
							
				<a id="simple-menu" class="navbar-brand" href="#sidr" >
					<font face="trebuchet MS" size="5"><span class="fa fa-navicon "></span></font>
				</a>
				<a class="navbar-brand" rel="home" href="#" > Brand Place Holder
					<!--<img style="max-width:200px; margin-top: -7px;"
						 src="images/bank_of_america.png">-->
				</a>
				
				
				<form class="navbar-form navbar-right form-inline" >
					<div class="form-group">
						
					  <input type="text" id="siteNumberInput" class="form-control" placeholder="Site Number">
					</div>
					<select id="orgInput" class="form-control">
					  <option value="HLSC" >HLSC</option>
					  <option value="TCS" >TCS</option>
					  <option value="RM">RM</option>
					  
					</select>
					
					
					<div class="form-group">
						<button type="submit" id="formSubmit" class="btn btn-default"> <span class="fa fa-filter "></span></button>
						<button type="submit" id="loadingButton" class="btn btn-default hidden"> <span class="fa fa-spinner fa-spin "></span></button>
					</div>
					
				</form>
				
				<!--
				<a id="right-menu" class="navbar-brand pull-right" href="#right-menu"><font face="trebuchet MS" size="5"><span class="fa fa-gear "></span></font></a>
				-->
				
				
			</div>
			
			
			<div id="sidr" class="visible">
				
				<ul class="aCircle">
					<li class="active"><a href="/">1. Dashboard</a></li>
					
					<li><a href="/report" >2. Reports</a></li>
					
				</ul>

			</div>
			
			<script type="text/javascript">
				$('#simple-menu').sidr();
			</script>
			
			<div id="demo-content" class="hidden">
				
			</div>
			
			<script>
			/*
			$(document).ready(function() {
				
				$('#right-menu').sidr({
				  name: 'sidr-right',
				  side: 'right',
				  source: '#demo-content'
				});
			}); */
			</script>
			
			<div class="redBG col-sm-6 col-md-6 col-xs-12">
				
					<div id="welcomeName" class="textAlignLeft"> <font class="Helvetica">Welcome Stewert Parbery</font></div>
					<div id="lastLoginTime" class="textAlignCenter"> <font class="Helvetica">Last Login: 06-14-2014 04:00 PM EDT</font></div>
					
				
			</div>
			
			<div class="redBG col-sm-6 col-md-6 col-xs-12">
				
					<div  class="textAlignCenter todaysDate"> <font class="Helvetica">Saturday June 14, 2014</font> </div>
					<div  class="textAlignCenter todaysTime"> <font class="Helvetica">09:00 PM EST</font></div>
					
				
			</div>
			<div class="topDiv" > 
				<div class="redBody col-sm-12 col-md-12 col-xs-12" >
					<div class="col-sm-4 col-md-4 redSubBody " id="inboundProcess"> 
						
						<div class="col-sm-6 col-md-6 box pull-left"  ><div class="innerBox" id="inboundGreen" style="margin-top:1em;"><font class="digital"  color="#00FF00">2890</font></div></div>
						<div class="col-sm-6 col-md-6 box pull-right" ><div class="innerBox" id="inboundRed" style="margin-top:1em;"><font class="digital" size="6" color="#FF0000">0001</font></div></div>
						<div class="col-sm-12 col-md-12 col-xs-12" id="chart1">  </div>
						
						<!--<div class="col-sm-6 col-md-6 col-sm-offset-3 clock" id="clock2"  ></div>-->
						
						<div class="col-sm-12 col-md-12  whiteBox "  > <div class="whiteSubBox"><font size="3" color="white" class="shadow">Lockbox Inbound </font></div></div>
						<div class="col-sm-6 col-md-6 "  style="margin-left:4em;" ></div>
					</div>
					
					
						
						
					<div class="col-sm-4 col-md-4 redSubBody" id="KeyIn"> 
						<!--<div class="col-sm-6 col-md-6 col-sm-offset-3 clock" id="clock3"  ></div>-->
						<div class="col-sm-6 col-md-6 box pull-left"  ><div class="innerBox" id="keyGreen" style="margin-top:1em;"><font class="digital" size="6" color="#00FF00">2890</font></div></div>
						<div class="col-sm-6 col-md-6 box pull-right" ><div class="innerBox" id="keyRed" style="margin-top:1em;"><font class="digital" size="6" color="#FF0000">0001</font></div></div>
						<div class="col-sm-12 col-md-12 col-xs-12" id="chart2">  </div>
						<!--<div class="col-sm-6 col-md-6 col-sm-offset-3 clock" id="clock4" ></div>-->
						<div class="col-sm-12 col-md-12  whiteBox "  > <div class="whiteSubBox"><font size="3" color="white" class="shadow">Lockbox Keyin </font></div></div>
						
						<div class="col-sm-6 col-md-6 col-sm-offset-4 "   ></div>

					</div>
					
					<div class="col-sm-4 col-md-4 redSubBody" > 
						<!--<div class="col-sm-6 col-md-6 col-sm-offset-3 clock" id="clock5"  ></div>-->
						<div class="col-sm-6 col-md-6 box pull-left"  ><div class="innerBox" id="outboundGreen" style="margin-top:1em;"><font class="digital" size="6" color="#00FF00">2890</font></div></div>
						<div class="col-sm-6 col-md-6 box pull-right" ><div class="innerBox" id="outboundRed" style="margin-top:1em;"><font class="digital" size="6" color="#FF0000">0001</font></div></div>
						<div class="col-sm-12 col-md-12 col-xs-12" id="chart3">  </div>
						<!--<div class="col-sm-6 col-md-6 col-sm-offset-3 clock" id="clock6"  ></div> -->
						<div class="col-sm-12 col-md-12  whiteBox " > <div class="whiteSubBox"><font size="3" color="white" class="shadow">Lockbox Outbound </font></div></div>
						<div class="col-sm-6 col-md-6 col-sm-offset-4 "  style="margin-left:4em;" ></div>
					</div>
					
					
				</div>
			
			
				
			
				<div class="redBody col-sm-12 col-md-12 col-xs-12" >
					<div class=" redSubBody col-sm-4 col-md-4 col-xs-12 " > 
						
						
						
						<div class="col-sm-6 col-md-6 box pull-left"  ><div class="innerBox" style="margin-top:1em;"><font class="digital" size="6" color="#00FF00">2890</font></div></div>
						<div class="col-sm-6 col-md-6 box pull-right" ><div class="innerBox" style="margin-top:1em;"><font class="digital" size="6" color="#FF0000">0001</font></div></div>
						<div class="col-sm-12 col-md-12 col-xs-12" id="chart11">  </div>
						
						<div class="col-sm-12 col-md-12  whiteBox " > <div class="whiteSubBox"><font size="3" color="white" class="shadow">Claim MPI Report </font></div></div>
						<div class="col-sm-6 col-md-6 col-sm-offset-4 "  style="margin-left:4em;" ></div>
						
					</div>
					
					<div class=" redSubBody col-sm-4 col-md-4 col-xs-12 " > 
						
						<div class="col-sm-6 col-md-6 box pull-left"  ><div class="innerBox" style="margin-top:1em;"><font class="digital" size="6" color="#00FF00">2890</font></div></div>
						<div class="col-sm-6 col-md-6 box pull-right" ><div class="innerBox" style="margin-top:1em;"><font class="digital" size="6" color="#FF0000">0001</font></div></div>
						
						<div class="col-sm-12 col-md-12 col-xs-12" id="chart12">  </div>
						
						<div class="col-sm-12 col-md-12 whiteBox "  >  <div class="whiteSubBox"><font size="3" color="white" class="shadow">Claim File In</font></div></div>
						<div class="col-sm-6 col-md-6 col-sm-offset-4 "  style="margin-left:4em;" ></div>
						
					</div>
					
					
					<div class=" redSubBody col-sm-4 col-md-4 col-xs-12 " > 
						
						<div class="col-sm-6 col-md-6 box pull-left"  ><div class="innerBox" style="margin-top:1em;"><font class="digital" size="6" color="#00FF00">2890</font></div></div>
						<div class="col-sm-6 col-md-6 box pull-right" ><div class="innerBox" style="margin-top:1em;"><font class="digital" size="6" color="#FF0000">0001</font></div></div>
						
						<div class="col-sm-12 col-md-12 col-xs-12" id="chart13">  </div>
					
						<div class="col-sm-12 col-md-12 whiteBox "  > <div class="whiteSubBox"><font size="3" color="white" class="shadow">Claim File Out</font></div></div>
						<div class="col-sm-6 col-md-6 col-sm-offset-4 "  style="margin-left:4em;" ></div>
						
					</div>
					
				</div>  
			
			
				
			
			
				<div class="whiteBGButtom2 col-sm-12 col-md-12 col-xs-12" >
					
					<div class="col-sm-6 col-md-6">
							
						
		
					</div>
					
					
					<div class="col-sm-6 col-md-6">
						<span class="label label-primary pull-right"><font color="#FFFFF" size="2" >File in Error</font></span>
						<span class="label label-default pull-right"><font color="#FFFFF" size="2" >File in Process</font></span>
					</div>
					
					
				</div>
			</div>
			
			
			
		</div>
		
		<div class="row" id="inboundProcessDetail" style="display:none;">
			<div class="whiteBG col-sm-12 col-md-12">
							
				<a id="back-menu" class="navbar-brand" href="#" >
					<font face="trebuchet MS" size="5"><span class="fa fa-angle-left fa-lg "></span></font>
				</a>
				
				<a class="navbar-brand" rel="home" href="#" > Brand place holder
					<!--<img style="max-width:200px; margin-top: -7px;"
						 src="images/bank_of_america.png"> -->
				</a>	
				
				<form class="navbar-form navbar-right form-inline" >
					<div class="form-group">
					  <input type="text" id="siteNumberInput" class="form-control" placeholder="Site Number">
					</div>
					<select id="orgInput" class="form-control">
					  <option value="HLSC" >HLSC</option>
					  <option value="TCS" >TCS</option>
					  <option value="RM">RM</option>
					  
					</select>
					
					<div class="form-group">
						<button type="submit" id="formSubmitInboundDetail" class="btn btn-default"> <span class="fa fa-filter "></span></button>
					</div>
					
				</form>
				<div class="switch pull-right" style="margin-top:9px;">
            		<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
            		<label for="cmn-toggle-1"></label>
          		</div>
			</div>
			
			<div class="redBG col-sm-6 col-md-6 col-xs-12">
				
					<div id="welcomeName" class="textAlignLeft"> <font class="type">Lockbox Inbound File Processing</font></div>
					<div id="lastLoginTime" class="textAlignCenter"></div>
					
				
			</div>
			
			<div class="redBG col-sm-6 col-md-6 col-xs-12">
				
					<div class="textAlignCenter todaysDate"> <font class="type">Saturday June 14, 2014 </font></div>
					<div class="textAlignCenter todaysTime"> <font class="type">09:00 PM EST</font></div>
					
				
			</div>
			
			
			
			<div class="greyBG col-sm-3 col-md-3 ">
				<div class="greySubBG col-sm-6 col-md-6 ">
					<div id="WTPGreen" class="pull-left"><font class="digit" color="#00FF00">100</font> </div>

				</div>
				
				<div class="greySubBG col-sm-6 col-md-6 ">
					<div id="WTPRed" class="pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				
				<div class="greySubBG col-sm-12 col-md-12 ">
					<div id="WTPIcon" class="textAlignCenter IconClass"  data-placement="bottom" title="Waiting to be Processed"> <font  size="9"><span class="fa fa-clock-o fa-lg"></span></font> </div>	
				</div>
				
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12" >
					<div class="textAlignCenter"><font class="Helvetica" color="#FFFFF">Waiting to be Processed</font> </div>
				</div>
			</div>
			
			<div class="greySubBGArrow col-sm-1 col-md-1 hidden step step-1" style="left:10em">
				
				<div class="greySubBG-2 ">
					<img src="images/Arrow White.png"  width="70" height="30">
				</div>	
				
			</div>
			<div class="greyBG col-sm-3 col-md-3 ">
					
				<div class="greySubBG col-sm-6 col-md-6 col-xs-12">
					<div id="SIGreen" class="pull-left"><font class="digit" color="#00FF00">100</font> </div>
				</div>
				<div class="greySubBG col-sm-6 col-md-6 col-xs-12">
					<div id="SIRed" class="pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
					<div id="SIIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Site Identification"> <font  size="12"><span class="fa fa-home fa-lg"></span></font>	 </div>
				</div>
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
						<div class="textAlignCenter"><font  class="Helvetica" color="#FFFFF">Site Identification</font> </div>
				</div>
				
			</div>
			
			<div class="greySubBGArrow col-sm-1 col-md-1 hidden step step-2" style="left:21.7em">
				
				<div class="greySubBG-2 " >
					<img src="images/Arrow White.png"  width="70" height="30">
				</div>	
				
			</div>
			
			<div class="greyBG col-sm-4 col-md-4 ">
				<div class="greySubBG col-sm-6 col-md-6">
					<div id="EVGreen" class="textAlignLeft"><font class="digit" color="#00FF00">100</font> </div>
				</div>	
				<div class="greySubBG col-sm-6 col-md-6">
					<div id="EVRed" class="textAlignRight pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				<div class="greySubBG col-sm-12 col-md-12 ">
					<div id="EVIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Extraction and Validation">  <font size="12"><span class="fa fa-share-square-o fa-lg"></span></font> </div>
				</div>	
				<div class="greySubBG col-sm-12 col-md-12 ">
						<div class="textAlignCenter"><font  class="Helvetica" color="#FFFFF">Extraction and Validation</font> </div>
				</div>	
				
			</div>
			<div class="greySubBGArrow-2 col-sm-1 col-md-1 hidden step step-3" style="left:27.2em">
				<div class="greySubBG-2  "  >
					 <img src="images/Arrow White.png"  width="70" height="30">
				</div>	
				
			</div>

			
			
			<div class="greyBG col-sm-3 col-md-3 ">
				<div class="greySubBG col-sm-6 col-md-6 ">
					<div id="DMGreen" class="textAlignLeft"><font class="digit" color="#00FF00">100</font> </div>
				</div>
				
				<div class="greySubBG col-sm-6 col-md-6 ">
					<div id="DMRed" class="textAlignRight pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12" >
					<div id="DMIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Data Management"> <font size="12"><span class="fa fa-database fa-lg"></span></font> </div>
				</div>	
				
				<div class="greySubBG col-sm-12 col-md-12 " >
						<div class="textAlignCenter"><font class="Helvetica" color="#FFFFF">Data Management</font> </div>
				</div>	
				
			</div>
			
			<div class="greySubBGArrow-3 col-sm-1 col-md-1 hidden step step-5 "style="left:9.5em">
				
				<div class="greySubBG-2 " >
					<img src="images/Arrow White.png"  width="70" height="30">
				</div>		
			</div>
			
			<div class="greyBG col-sm-4 col-md-4 ">
				<div class="greySubBG col-sm-6 col-md-6 ">
					<div id="PIGreen" class="textAlignLeft"><font class="digit" color="#00FF00">100</font> </div>
				</div>
				<div class="greySubBG col-sm-6 col-md-6 ">	
					<div id="PIRed" class="textAlignRight pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
					<div id="PIIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Payer Identification">  <font  size="12"><span class="fa fa-user fa-lg"></span></font> </div>
				</div>	
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
						<div class="textAlignCenter"><font class="Helvetica" color="#FFFFF">Payer Identification</font> </div>
				</div>	
				
			</div>
			
			<div class="greySubBGArrow-3 col-sm-1 col-md-1 hidden step step-4" style="left:21.2em">
				
				<div class="greySubBG-2 ">
					<img src="images/Arrow White.png"  width="70" height="30">
				</div>	
			</div>
			
			<div class="greyBG col-sm-3 col-md-3 ">
				<div class="greySubBG col-sm-6 col-md-6 ">
					<div id="BSGreen" class="textAlignLeft"><font class="digit" color="#00FF00">100</font> </div>
				</div>
					
				<div class="greySubBG col-sm-6 col-md-6 ">	
					<div id="BSRed" class="textAlignRight pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				
				<div class="greySubBG col-sm-12 col-md-12">
					<div id="BSIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Batch Split">  <font size="12"><span class="fa fa-random fa-lg"></span></font> </div>
				</div>	
				
				<div class="greySubBG col-sm-12 col-md-12 ">
						<div class="textAlignCenter"><font class="Helvetica" class="type" color="#FFFFF">Batch Split</font> </div>
				</div>	
				
				
			</div>
			
			
			<div class="greySubBGArrow-4 col-sm-1 col-md-1 hidden step step-6" style="left:4em">
				<div class="greySubBG-2" >
					<img src="images/Arrow White.png"  width="70" height="30">
				</div>	
			</div>
			
			<div class="greySubBGArrow-4 col-sm-1 col-md-1 hidden step step-4" style="left:27.2em">
				<div class="greySubBG-2 " >
					<img src="images/Arrow White.png"  width="70" height="30">
				</div>	
			</div>
			
			
		
			
			<div class="greyBG col-sm-4 col-md-4 ">
				<div class="greySubBG col-sm-4 col-md-4 col-xs-4">
					<div id="WLGreen" class="textAlignLeft"><font class="digit" color="#00FF00">100</font> </div>
				</div>
				<div class="greySubBG col-sm-4 col-md-4 col-xs-4">
					<div class="textAlignCenter hidden"><font color="#3E413E">WL</font> </div>
				</div>
				<div class="greySubBG col-sm-4 col-md-4 col-xs-4">
					<div id="WLRed" class="textAlignRight pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
					<div id="WLIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Worklist Load"> <font size="12"><center><span class="fa fa-list-alt fa-lg"></span></center></font> </div>
				</div>	
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
					<div class="textAlignCenter"><font class="Helvetica" color="#FFFFF">WorkList Load</font> </div>
				</div>		
				
			</div>
			
			<div class="greySubBGArrow-5 col-sm-1 col-md-1 hidden step step-6" style="left:9.5em" >
				<div class="greySubBG-2 " >
					<img src="images/Arrow White.png"  width="70" height="30">
				</div>	
			</div>
			
			<div class="greyBG col-sm-3 col-md-3 ">
				<div class="greySubBG col-sm-4 col-md-4 col-xs-4">
					<div id="IAGreen" class="textAlignLeft"><font class="digit" color="#00FF00">100</font> </div>
				</div>
				<div class="greySubBG col-sm-4 col-md-4 col-xs-4">
					<div class="textAlignCenter hidden"><font color="#3E413E">IA</font> </div>
				</div>
				<div class="greySubBG col-sm-4 col-md-4 col-xs-4">
					<div id="IARed" class="textAlignRight pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
					<div id="IAIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Image Archive">  <font  size="12"><span class="fa fa-archive fa-lg"></span></font></div>
				</div>		
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
					<div class="textAlignCenter"><font class="Helvetica" color="#FFFFF">Image Archive</font> </div>
				</div>	
				
			</div>
			
			<div class="greySubBGArrow-5 col-sm-1 col-md-1 hidden step step-5" style="left:21.2em">
				<div class="greySubBG-2 " >
					 <img src="images/Arrow White.png"  width="70" height="30">
				</div>	
			</div>
			
		
			<div class="greyBG col-sm-3 col-md-3 ">
				
				<div class="greySubBG col-sm-6 col-md-6 col-xs-4">
					<div id="ISGreen" class="pull-left"><font class="digit" color="#00FF00">100</font> </div>
				</div>
				
				<div class="greySubBG col-sm-6 col-md-6 col-xs-4">
					<div id="ISRed" class="pull-right"><font class="digit" color="#FF0000">10</font></div>
				</div>
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12">
					<div id="ISIcon" class="textAlignCenter IconClass" data-container="body" data-toggle="popover" data-placement="bottom" data-content="This is where Description goes" title="Image Split & Conversion">  <font size="12"><span class="fa fa-image fa-lg"></span></font></div>
				</div>		
				<div class="greySubBG col-sm-12 col-md-12 col-xs-12 ">
					<div class="textAlignCenter"><font class="Helvetica" color="#FFFFF">Image Split &amp Conversion</font> </div>
				</div>	
				
				
				
			</div> 
			
			<div class="whiteBGButtom3 col-sm-12 col-md-12 col-xs-12" >
					
				<div class="col-sm-6 col-md-6">
						
					
	
				</div>

				<div class="col-sm-6 col-md-6">
					<span class="label label-primary pull-right"><font color="#FFFFF" size="2" >File in Error</font></span>
					<span class="label label-default pull-right"><font color="#FFFFF" size="2" >File in Process</font></span>
				</div>
					
					
			</div>
				
			
		</div>
		
		
		<div class = "modal fade" id = "progressModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		    <div class = "modal-dialog modal-sm">

				<div class = "modal-content" >

		                <div  class = "modal-body "  >
								<div style="margin-left:3em;"><font color="white"><span class="fa fa-spinner fa-spin fa-4x"></span></font></div>
		                </div>

		        </div>
		    </div>
		</div>
		
		<div class="row" id="KeyInDetail" style="display:none;">
				<div class="whiteBG col-sm-12 col-md-12">
							
				<a id="back-menu2" class="navbar-brand" href="#" >
					<font face="trebuchet MS" size="5"><span class="fa fa-angle-left fa-lg "></span></font>
				</a>
				
				<a class="navbar-brand" rel="home" href="#" > Brand place holder
					<!--<img style="max-width:200px; margin-top: -7px;"
						 src="images/bank_of_america.png"> -->
				</a>	
				 <div id="tree-container"></div>
				
		</div>
		<!--
		</div>
		</div> -->
	</body>
		
	<script type="text/javascript" src="javascripts/controller.js"></script>

</html>